.memotest-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.memotest-carta {
  margin: 10px;
}

.memotest-img-wrapper {
  width: 200px;
  height: 160px;
  border: 1px solid;
  padding: 10px;
}

.memotest-img {
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
